*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;

}
body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#home{
    background: white;
filter: blur(1,5px);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
strong{
  font-family:Verdana;
  position: absolute;
  left: -95px;
  top: -30px;
  color: gray;
  font-size: 1em;
  text-transform: uppercase;
  text-shadow: 0px 0px 8px seashell;
  padding: 0px;
}
h1{
    font-family:Verdana;
    position: absolute;
right: 60px;
    color: black;
    text-transform: capitalize;
    font-size: 2em;
    text-shadow: 0px 0px 8px seashell;
    padding: 0px;
    
}

p{
    color: gray;
    position: relative;   
     top: 75px;
     font-size: 12px;
     text-transform: capitalize;

    }
    #plus:hover{
      opacity: 0.6;

    }
    #plus:active{
      opacity: 0.9;

    }
    #plus{
      opacity: 0.4;
        position: absolute;
        bottom: 100px;
        width: 50px;
        height: auto;
        animation: shake-bottom  2s cubic-bezier(0.455, 0.030, 0.515, 0.955)  both;

    }
    
    @keyframes shake-bottom {
      0%,
      100% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
      }
      10% {
        -webkit-transform: rotate(2deg);
                transform: rotate(2deg);
      }
      20%,
      40%,
      60% {
        -webkit-transform: rotate(-4deg);
                transform: rotate(-4deg);
      }
      30%,
      50%,
      70% {
        -webkit-transform: rotate(4deg);
                transform: rotate(4deg);
      }
      80% {
        -webkit-transform: rotate(-2deg);
                transform: rotate(-2deg);
      }
      90% {
        -webkit-transform: rotate(2deg);
                transform: rotate(2deg);
      }
    }
    


    #crash{
        background: red;
        width: 100%;
        height: 100vh;
        position: fixed;
        display: none;
        
    }
    
.info{
  width: 100%;
  height: 100vh;
background: black;
background-size: cover;
background-repeat: no-repeat;
display: flex;
align-items: flex-start;
justify-content: center;
      }

      h2{
        color: white;
        margin-left: -130px;
        margin-top: -30px;
        text-shadow: 0px 0px 20px black;
        text-transform: capitalize;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

      #close{
        position: fixed;
        top: 0px;
        right: 0px;
        padding: 3px;
        margin: 10px;
        width: 30px;
        height: auto;
      }

      .pip{
        color: white;
        text-transform: capitalize;
        padding: 20px;
        margin: 25px;
        text-align: center;
        line-height: 25px;
      }
      a{
        position: relative;
      }