*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  padding: 0;
  overflow: hidden;

  margin: 0;
}
#home{
width: 100%;
height: 100vh;
display: flex;
justify-content: space-evenly;
align-items: center;
flex-direction: row;
background: black;
position: absolute;
text-align: center;
color: aliceblue;
font-size: 2em;
font-family:Georgia, Times, 'Times New Roman', serif;
animation: color-change-3x 4s linear infinite alternate both;
}
@keyframes color-change-3x {
  0% {
    background: black;
  }
  50% {
    background: darkred;
  }
  100% {
    background: black;
  }
}



#content{
  color: white;
  text-shadow: 0px 0px 6px gray;
  
}


#free-style-loading{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8999;
}
.bg{
  background-color: black;
  position: absolute;
  opacity: 0.8;
  z-index: 8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loading-box{
  border-radius: 50%;
  z-index: 9;
  position: absolute;
  width:120px;
  height: 120px;
  left: calc(50% - 60px);
  top: calc(50% - 60px);
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: center;
  
}


.line{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 0px 13px rgba(207, 0, 15, .4);
  border-style: solid;
  -webkit-animation: free-style-one 3s linear infinite;
  -moz-animation: free-style-one 3s linear infinite;
  -o-animation: free-style-one 3s linear infinite;
  animation: free-style-one 3s linear infinite; 
}
.loading{
background: transparent;
  font-size: 15px;
text-transform: uppercase;
box-shadow: 0px 0px 4px gray ;
border: darkred dotted 2px;
border-radius: 50px;
width: 30%;
height: 5vh;
display: flex;
justify-content: center;
align-items: center;
animation: text-flicker-out-glow 2.5s linear infinite both;

}
@keyframes text-flicker-out-glow {
  0% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  13.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  14% {
    opacity: 0;
    text-shadow: none;
  }
  14.9% {
    opacity: 0;
    text-shadow: none;
  }
  15% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  22.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  23% {
    opacity: 0;
    text-shadow: none;
  }
  24.9% {
    opacity: 0;
    text-shadow: none;
  }
  25% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  34.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  35% {
    opacity: 0;
    text-shadow: none;
  }
  39.9% {
    opacity: 0;
    text-shadow: none;
  }
  40% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  42.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  43% {
    opacity: 0;
    text-shadow: none;
  }
  44.9% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  54.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 0;
    text-shadow: none;
  }
  69.4% {
    opacity: 0;
    text-shadow: none;
  }
  69.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  69.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  70% {
    opacity: 0;
    text-shadow: none;
  }
  79.4% {
    opacity: 0;
    text-shadow: none;
  }
  79.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  80% {
    opacity: 0;
    text-shadow: none;
  }
  89.8% {
    opacity: 0;
    text-shadow: none;
  }
  89.9% {
    opacity: 1;
    text-shadow: none;
  }
  90% {
    opacity: 0;
    text-shadow: none;
  }
  100% {
    opacity: 0;
  }
}


#ono{
  border-color: seashell;
  border-width: 15px 10px 0px 0px;
}
.line-two{
  border-color: orange;
  border-width: 0px 15px 0px 0px;
}
.line-three{
  border-color: seashell;
  border-width: 0px 0px 15px 0px;
}
.line-four{
  border-color: orange;
  border-width: 0px 0px 0px 15px;
}
@keyframes free-style-one {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(3260deg);
  }
}

#shopup{
  width: 100%;
  height: 100vh;
  background-color: pink;
  position: fixed;
  z-index: 8999;
  display: none; /*login activate*/
  animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
@keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


.listo{
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h3{
text-transform: uppercase;
font-size: 2em;
font-weight: bold;
color: white;
}
p{
color: gray;
}

